/* font */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body{
    padding: 0;
    margin: 0;
    background-color: #eae9f7;
}

header{
    background-image: url("B12A01-landing-launchpad/Assets/Hero-bg.png");
    height: 500px;
    width: 1440px;
    
}
/* Button */
.btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    height: 40px;
    /* width: 200px; */
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
    padding: 10px;
}

.btn:hover{
    background-color: orange;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 800px;
   
}

.banner-heading{
    text-align: center;
    margin-top: 200px;
}
.logo{
    color: #4E47FF;
    font-size: 50px;
    font-weight: 700;
}

/* Action section */
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 1440px;
    margin-top: 100px;
    
}
.act-inf{
    margin-left: 30px;
}
.act-img{
    margin-right: 30px;
}
.act-inf h1{
    font-size: 50px;
    font-weight: bold;
}
.act-inf p{
    color: #626268;
}
.act-img img{
    border: none;
    border-radius: 50px;
}

/* User Section */
.user-section{
    background-color: #dddde4;
    width: 1140px;
    height: 300px;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.use-p{
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}

.user-title{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.active h1{
    color: #4E47FF;
    font-size: 50px;
    font-weight: 800;
    
}
.active p{
    color: #626268;
}

/* Feedback */
.Feedback{
    height: 370px;
    width: 1140px;
    /* border: 2px solid black; */
    margin-left: 100px;
    margin-bottom: 20px;
    
}
.Feedback h2{
    text-align: center;
    font-size: 30px;
}
.feedback-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f1f1;
    
}
.star-icon{
    margin-top: 15px;
    margin-left: 5px;
}

.user-feedback{
    width: 366px;
    height: 270px;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 5px 5px wheat;
   
}
.loved-by{
    margin-right: 73px;
}
.user-img{
    display: flex;
    align-items: center;
    
}
.use-pic{
    margin-left: 10px;
    
}
.user-name{
    display: block;
    margin-left: 20px;
}
.user-name p{
    color: #c7c7d6;
    font-size: 15px;
}
.user-name h5{
    color: #dddde4;
}

/* Footer Section */
.touch-section{
    width: 1140px;
    height: 400px;
    margin: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff44;
    padding: 100px;
    gap: 150px;
    
}

.touch-heading{
    font-size: 40px;
}

footer input[type="email"], footer input[type="name"], footer textarea, footer button{
    height: 64px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
.form p{
    font-weight: bold;
}

/* Last part footer */
.last-part{
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: #626268;
}